@import '../variables';

#profilePhoto{
  border-radius: 100%;
  width: 200px;
  max-width: 200px;
  object-fit: cover;
  height: 200px;
}
.bio-info-list{

  .bio-info-item{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(24px, auto);
    .bio-info-year{
      grid-column: 1 ;
      font-weight: bolder;
      margin: 0 !important;
    }
    .bio-info-text{
      grid-column: 2/9 ;
    }
  }
}

@media only screen and (max-width:$phone) {
  .bio-info-text {
    margin-left: 10px !important;
  }
}
